# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/

# Arquivos de log
*.log

# SQLite
*.sqlite3

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db